<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Angular select component extended with filter feature</title>

	<!-- Bootstrap -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
	<link href="bng-selector.min.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>

<div class="container" ng-app="demoApp">
	<div class="row">
		<div class="col-xs-12" ng-controller="demoController as ctrl">
			<h1>bng-selector - Angular selector component</h1>
			<hr />
			<h2>Simple selection: {{ctrl.simpleTitle}}</h2>
			<bng-selector show-filter="false" empty-label="Choose an option" options="ctrl.options"
						  on-select="ctrl.simpleOptionSelected(option)"
						  on-unselect="ctrl.simpleOptionUnselected()"
						  label="name" selected="ctrl.simpleOption">
			</bng-selector>
			<hr />
			<h2>Simple selection with filter</h2>
			<bng-selector show-filter="true" options="ctrl.options"
						  on-select="ctrl.optionSelected(option)"
						  on-unselect="ctrl.optionUnselected()"
						  label="name" selected="ctrl.selected"
						  disabled="ctrl.disabled">
			</bng-selector>
			<h3>Choice: {{ctrl.title}}</h3>
			<p>
				This is a demo for the angular component that I wrote. This component is useful to use in place
				of regular html select input. It adds the capability to filter the available options to help
				the user to find the desired item.
			</p>
			<h3>Simulate</h3>
			<p>
				<button class="btn btn-primary btn-sm" ng-click="ctrl.changeOptions()">Change options</button>
				<button class="btn btn-primary btn-sm" ng-click="ctrl.changeSelected()">Change selected</button>
				<button class="btn btn-primary btn-sm" ng-click="ctrl.disabled = !ctrl.disabled">Toggle disabled</button>
			</p>
			<hr />
			<h2>Multi selection with filter</h2>
			<bng-selector show-filter="true" multi="true" options="ctrl.options"
						  on-select="ctrl.multiSelectionEvent(option)"
						  on-unselect="ctrl.clearMulti()" show-multi-controls="false"
						  label="name" selected="ctrl.selectedItems">
			</bng-selector>
			<h3>Selected items:</h3>
			<ul>
				<li ng-repeat="item in ctrl.selectedItems">{{item.name}}</li>
			</ul>
		</div>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>
<script src="bng-selector.min.js"></script>
<script>
	(function() {
		var demoApp = angular.module('demoApp', ['bng-selector']);

		var demoController = function($timeout) {
			var ctrl = this;

			$timeout(function() {
				ctrl.options = [
					{name: 'Bruno'}, {name: 'Carolina'}, {name: 'Danilo'}, {name: 'Eduarda'},
					{name: 'Fernando'}, {name: 'Gisele'}, {name: 'Hilton'}, {name: 'Inayara'},
					{name: 'João'}, {name: 'Kimberly'}, {name: 'Leandro'}, {name: 'Maria Helena'}
				];
			}, 1000);

			ctrl.changeOptions = function() {
				ctrl.options = [
					{name: 'Natália'}, {name: 'Otávio'}, {name: 'Paula'}, {name: 'Querubim'}
				];
			};

			ctrl.changeSelected = function() {
				ctrl.selected = {name: 'Gisele'};
				ctrl.optionSelected(ctrl.selected);
			};

			ctrl.optionSelected = function(option) {
				ctrl.title = option.name;
			};

			ctrl.optionUnselected = function() {
				ctrl.title = 'No one!';
			};

			ctrl.simpleOptionSelected = function(option) {
				ctrl.simpleTitle = option.name;
			};

			ctrl.simpleOptionUnselected = function() {
				ctrl.simpleTitle = '';
			};

			ctrl.multiSelectionEvent = function(selectedItems) {
				ctrl.selectedItems = selectedItems;
			};

			ctrl.clearMulti= function() {
				ctrl.selectedItems = [];
			};

			ctrl.selectedItems = [];

			ctrl.options = [
				{name: 'Bruno'}, {name: 'Carolina'}, {name: 'Danilo'}, {name: 'Eduarda'}
			];

			ctrl.selected = {name: 'Bruno'};
			ctrl.optionSelected(ctrl.selected);
		};
		demoApp.controller('demoController', demoController);
	}());
</script>
</body>
</html>