<div class="bng-selector" ng-class="{ 'disabled': $ctrl.disabled }">
	<div class="bng-selector-selected" ng-click="$ctrl.toggleFilter($event)">
		{{$ctrl.selected[$ctrl.label]}}
		<i class="fa fa-caret-down" ng-show="! $ctrl.showFilter"></i>
		<i class="fa fa-caret-up" ng-show="$ctrl.showFilter"></i>
		<i class="fa fa-times" ng-show="$ctrl.selected"
		   ng-click="$ctrl.clear($event)"></i>
	</div>
	<div class="bng-selector-filter" ng-show="$ctrl.showFilter">
		<div class="bng-selector-filter-area">
			<input class="bng-selector-filter-input" type="text"
				   ng-change="$ctrl.suggest()"
				   ng-model="$ctrl.term">
			<ul>
				<li ng-repeat="opt in $ctrl.filteredOptions"
					ng-click="$ctrl.select(opt)">
					{{opt[$ctrl.label]}}
				</li>
			</ul>
		</div>
	</div>
</div>